@tailwind base;
@tailwind components;
@tailwind utilities;
.form_Description {
    margin-top: 10px;
    background-color: #282828;
    width: 980px;
    height: 300px;
    padding: 15px;
    .layout {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 450px) {
    .form_Description {
        margin-top: 10px;
        background-color: #282828;
        width: 400px;
        height: 300px;
        padding: 10px;

        .layout {
            display: flex;
            justify-content: space-around;

            span{
                font-size: 8px;
            }
        }
    }
    .main{
        h3{
            font-size: 10px;
        }
        div{
            font-size: 8px;
        }
    }
}
